## Quick visualization of the stations

In [1]:
import warnings
warnings.filterwarnings('ignore')
import os
import geopandas as gpd
import folium as fl
import pandas as pd

DPATH="~/sync_laptops/NOTES/RoadWeather/"
cols=["SID","c2","c3","SID_again","name","lon","lat","creation_date"]+["c"+str(i+8) for i in range(15)]

added_202301 = pd.read_csv(os.path.join(DPATH,"stations_added_202301.csv"),header=None,names=cols) 
added_202302 = pd.read_csv(os.path.join(DPATH,"stations_added_202302.csv"),header=None,names=cols) 
added_202303 = pd.read_csv(os.path.join(DPATH,"stations_added_202303.csv"),header=None,names=cols) 

added_202201 = pd.read_csv(os.path.join(DPATH,"stations_added_202201.csv"),header=None,names=cols) 
added_202202 = pd.read_csv(os.path.join(DPATH,"stations_added_202202.csv"),header=None,names=cols) 
added_202203 = pd.read_csv(os.path.join(DPATH,"stations_added_202203.csv"),header=None,names=cols) 


#There were no new stations added in the months of Jan-Mar in 2021

#added_202101 = pd.read_csv(os.path.join(DPATH,"stations_added_202101.csv"),header=None) 
#added_202102 = pd.read_csv(os.path.join(DPATH,"stations_added_202102.csv"),header=None) 
#added_202103 = pd.read_csv(os.path.join(DPATH,"stations_added_202103.csv"),header=None) 


#added_202301.columns = cols
#added_202302.columns

#save these as geopandas for later
geo_202201 = gpd.GeoDataFrame(
    added_202201, geometry=gpd.points_from_xy(added_202201.lon, added_202201.lat), crs="EPSG:4326"
)
geo_202201.to_file("stations_added_202201.shp")

geo_202202 = gpd.GeoDataFrame(
    added_202202, geometry=gpd.points_from_xy(added_202202.lon, added_202202.lat), crs="EPSG:4326"
)
geo_202202.to_file("stations_added_202202.shp")

geo_202203 = gpd.GeoDataFrame(
    added_202203, geometry=gpd.points_from_xy(added_202203.lon, added_202203.lat), crs="EPSG:4326"
)
geo_202203.to_file("stations_added_202203.shp")

geo_202301 = gpd.GeoDataFrame(
    added_202301, geometry=gpd.points_from_xy(added_202301.lon, added_202301.lat), crs="EPSG:4326"
)
geo_202201.to_file("stations_added_202301.shp")

geo_202302 = gpd.GeoDataFrame(
    added_202302, geometry=gpd.points_from_xy(added_202302.lon, added_202302.lat), crs="EPSG:4326"
)
geo_202302.to_file("stations_added_202302.shp")

geo_202303 = gpd.GeoDataFrame(
    added_202303, geometry=gpd.points_from_xy(added_202303.lon, added_202303.lat), crs="EPSG:4326"
)
geo_202303.to_file("stations_added_202303.shp")

enc='cp865' # 'utf-8'
all_stations = pd.read_csv(os.path.join(DPATH,"vejvejr_long_names_identify_new_CLEANED.csv"),encoding=enc,header=None,names=cols) 

geo_all_stations = gpd.GeoDataFrame(all_stations, 
    geometry=gpd.points_from_xy(all_stations.lon, all_stations.lat), crs="EPSG:4326"
)

geo_all_stations.to_file("all_vejvejr_stations_2023.shp")

In [2]:
added_202301

,SID,c2,c3,SID_again,name,lon,lat,creation_date,c8,c9,...,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22
0,1389,1,7,1389,BIG Herlev,12.448343,55.718398,202301031228,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,c1a46149-07a6-4616-b52d-6cb15205e7bb
1,2101,1,8,2101,Gnibenvej,11.311342,55.981653,202301190850,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
2,2103,1,8,2103,Strandvej,11.549523,55.912456,202301190857,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
3,2104,1,8,2104,Lyngvej,11.579027,55.903116,202301190900,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
4,2105,1,8,2105,"Egebjergvej, Annebjerg",11.665440,55.895637,202301190902,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
5,2106,1,8,2106,Lyngvej,11.566934,55.892571,202301190906,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
6,2107,1,8,2107,Odsherredvej,11.605323,55.883969,202301190907,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
7,2108,1,8,2108,Asmindrupvej,11.628734,55.863428,202301190910,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
8,2112,1,8,2112,Egemosevej,11.542260,55.817437,202301190931,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
9,2113,1,8,2113,Vindekilde Strandvej v. Ordrup,11.400361,55.821422,202301190932,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
10,2115,1,8,2115,"Egebjergvej, Atterup",11.628555,55.803093,202301190935,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
11,2116,1,8,2116,Vindekilde Strandvej,11.377779,55.800936,202301190937,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
12,2400,1,8,2400,Vejlebyvej,11.456299,55.745205,202301190951,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
13,3246,5,7,3246,Fogderupvej,9.151400,55.026300,202301130839,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,c1a46149-07a6-4616-b52d-6cb15205e7bb
14,4184,1,8,4184,"Aunsbjergvej, Kjellerup",9.381864,56.320984,202301171055,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
15,4185,1,8,4185,"Kirkebakken, Kjellerup",9.436982,56.291573,202301171057,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
16,4187,1,8,4187,"Tvilum Kirkevej, Silkeborg",9.689632,56.246735,202301171059,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
17,4189,1,8,4189,"Herredsvej, Gjern",9.755869,56.203305,202301171101,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
18,4190,1,8,4190,"Oslovej, Silkeborg",9.600508,56.185253,202301171102,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
19,4191,1,8,4191,Sejsvej Silkeborg,9.570688,56.153572,202301171103,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
20,5148,1,8,5148,Remmerstrandvej,8.508223,56.541129,202301100949,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
21,6209,1,4,6209,Egnsplanvej,9.921490,57.003350,202301041234,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,511745a4omaolb0m9aal9vejvs,f15s0sm10ebju4rtebb2h6hjddd65193tt3pqp7904fjn8...

### Plot the stations added in each month over each year

In [3]:
tooltip = "Click Here For Station name"


loc = 'Stations added in January. Red for 2022, Blue for 2023'
title_html = '''
             <h3 align="center" style="font-size:16px"><b>{}</b></h3>
             '''.format(loc)   






m = fl.Map(zoom_start=50, layers_control=True, tiles="OpenStreetMap")
for _, r in added_202201.iterrows():
    #print(r)
    station = r["SID"]
    this_lat = r["lat"]
    this_lon = r["lon"]
    icon=fl.Icon(color='red')
    #l2rc_group.add_child(folium.Marker((df[i, 'Latitude'],df[i, 'Longitude']), icon=icon))
    marker = fl.Marker(
        location=[this_lat, this_lon],
        popup=f"<stong>Added Jan 2022: {station}</stong>",
        tooltip=tooltip, icon=icon)
    marker.add_to(m)


for _, r in added_202301.iterrows():
    #print(r)
    station = r["SID"]
    this_lat = r["lat"]
    this_lon = r["lon"]
    icon=fl.Icon(color='blue')
    #l2rc_group.add_child(folium.Marker((df[i, 'Latitude'],df[i, 'Longitude']), icon=icon))
    marker = fl.Marker(
        location=[this_lat, this_lon],
        popup=f"<stong>Added Jan 2023: {station}</stong>",
        tooltip=tooltip, icon=icon)
    marker.add_to(m)
    
m.get_root().html.add_child(fl.Element(title_html))
    
m
m.save('map.html')

In [4]:
tooltip = "Click Here For Station name"


loc = 'Stations added in February. Red for 2022, Blue for 2023'
title_html = '''
             <h3 align="center" style="font-size:16px"><b>{}</b></h3>
             '''.format(loc)   






m = fl.Map(zoom_start=50, layers_control=True, tiles="OpenStreetMap")
for _, r in added_202202.iterrows():
    #print(r)
    station = r["SID"]
    this_lat = r["lat"]
    this_lon = r["lon"]
    icon=fl.Icon(color='red')
    #l2rc_group.add_child(folium.Marker((df[i, 'Latitude'],df[i, 'Longitude']), icon=icon))
    marker = fl.Marker(
        location=[this_lat, this_lon],
        popup=f"<stong>Added Feb 2022: {station}</stong>",
        tooltip=tooltip, icon=icon)
    marker.add_to(m)


for _, r in added_202302.iterrows():
    #print(r)
    station = r["SID"]
    this_lat = r["lat"]
    this_lon = r["lon"]
    icon=fl.Icon(color='blue')
    #l2rc_group.add_child(folium.Marker((df[i, 'Latitude'],df[i, 'Longitude']), icon=icon))
    marker = fl.Marker(
        location=[this_lat, this_lon],
        popup=f"<stong>Added Feb 2023: {station}</stong>",
        tooltip=tooltip, icon=icon)
    marker.add_to(m)
    
m.get_root().html.add_child(fl.Element(title_html))
    
m
m.save('map.html')

In [5]:
tooltip = "Click Here For Station name"


loc = 'Stations added in March. Red for 2022, Blue for 2023'
title_html = '''
             <h3 align="center" style="font-size:16px"><b>{}</b></h3>
             '''.format(loc)   






m = fl.Map(zoom_start=50, layers_control=True, tiles="OpenStreetMap")
for _, r in added_202203.iterrows():
    #print(r)
    station = r["SID"]
    this_lat = r["lat"]
    this_lon = r["lon"]
    icon=fl.Icon(color='red')
    #l2rc_group.add_child(folium.Marker((df[i, 'Latitude'],df[i, 'Longitude']), icon=icon))
    marker = fl.Marker(
        location=[this_lat, this_lon],
        popup=f"<stong>Added Mar 2022: {station}</stong>",
        tooltip=tooltip, icon=icon)
    marker.add_to(m)


for _, r in added_202303.iterrows():
    #print(r)
    station = r["SID"]
    this_lat = r["lat"]
    this_lon = r["lon"]
    icon=fl.Icon(color='blue')
    #l2rc_group.add_child(folium.Marker((df[i, 'Latitude'],df[i, 'Longitude']), icon=icon))
    marker = fl.Marker(
        location=[this_lat, this_lon],
        popup=f"<stong>Added Mar 2023: {station}</stong>",
        tooltip=tooltip, icon=icon)
    marker.add_to(m)
    
m.get_root().html.add_child(fl.Element(title_html))
    
m
m.save('map.html')

In [8]:
all_stations.shape[0]

758

In [7]:
all_stations

,SID,c2,c3,SID_again,name,lon,lat,creation_date,c8,c9,...,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22
0,1000,1,4,1000,Kvistgσrd,12.486561,55.995613,198001010000,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
1,1001,1,4,1001,Hundested,11.921130,55.958218,198001010000,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
2,1002,1,4,1002,Hiller°d,12.267541,55.908611,200110160130,205001010000,True,...,10.0,15.0,20.0,25.0,348,10,NaN,NaN,NaN,NaN
3,1003,1,4,1003,G°rl°se,12.191520,55.872879,198001010000,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
4,1004,1,4,1004,Kronp. Frederiks Bro,12.039816,55.843201,198001010000,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,9907,1,5,9907,Sprog°,10.965891,55.332045,198001010000,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
754,9908,5,5,9908,Vestbroen ╪.,10.919014,55.315520,198001010000,205001010000,True,...,10.0,15.0,20.0,25.0,50,31,NaN,NaN,NaN,NaN
755,9909,5,5,9909,Vestbroen V.,10.884426,55.306041,198001010000,205001010000,True,...,10.0,15.0,20.0,25.0,60,31,NaN,NaN,NaN,NaN
756,9910,1,5,9910,Knudshoved,10.828761,55.302197,198001010000,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN
757,9911,5,5,9911,Halsskov,11.124129,55.348572,201307221226,205001010000,True,...,10.0,15.0,20.0,25.0,-1,10,NaN,NaN,NaN,NaN

In [66]:
tooltip = "Click Here For Station name"


loc = 'All stations in 2023'
title_html = '''
             <h3 align="center" style="font-size:16px"><b>{}</b></h3>
             '''.format(loc)   


m = fl.Map(zoom_start=50, layers_control=True, tiles="OpenStreetMap")
for _, r in all_stations.iterrows():
    #print(r)
    station = r["SID"]
    this_lat = r["lat"]
    this_lon = r["lon"]
    #print(f"lat: {this_lat}, lon: {this_lon} for {station}")
    icon=fl.Icon(color='black')
    marker = fl.Marker(
        location=[this_lat, this_lon],
        popup=f"<stong> {station}</stong>",
        tooltip=tooltip, icon=icon)
    marker.add_to(m)



m.get_root().html.add_child(fl.Element(title_html))
    
m
m.save('map.html')

In [1]:
# Selecting some regions around Fyn, Jutland and NorthWest Zealand 
import leafmap
center_map=[54.87617,10.34985] # this is somewhere in Aero

map_select = leafmap.Map(center=center_map, 
                         zoom = 4, 
                         layers_control=True, 
                         measure_control=False, 
                         attribution_control=False)
# this optional, not sure 
map_select.add_basemap("Stamen.TonerLite")
#this one will export the polygon selection in geojson
map_select

Map(center=[54.87617, 10.34985], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', '…

In [2]:
map_select.save_draw_features("somewhere_midjutland.geojson")